*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: azure;
}
#cvCon {
    display: flex;
    justify-content: center;
}
canvas {
    margin-top: 5vh;
    align-self: center;
}
#btnCon {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    padding:5px;
    margin: 1em;
}
p {
    font-size: 5vh;
    text-align: center;
}